body {
  background: #558844;
}

.App {
  text-align: center;
}

.myState {
  font-size: 30px;
}

button {
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  background: green;
  color: greenyellow;
}